/* Variable */

:root {
    --title-color: #212121;
    --basic-background: #FFFFFF;
    --basic-color: #757575;
    --attention-color: #2196F3;
    --logo-color: #000000;
    --attention-background: #2F303A;
    --second-background: #F5F4FA;
    --border-color: #EEEEEE;
    --svg-color: #AFB1B8;
}

/* Utilities */

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    color: inherit;
    font-family: inherit;
    font-size: 16px;
    border: none;
    background-color: none;
    cursor: pointer;
    text-align: center;
}

.address {
    font-style: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* Common styles */

body {
color: var(--basic-color);
background-color: var(--basic-background);
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.03em;
margin: 0;
}

.section-title {
    color: var(--title-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* styling header */

.logo {
color: var(--logo-color);
font-family: 'Raleway', sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.19;
margin-right: 93px;
}

.web {
color: var(--attention-color);
}

.navigation-list,
.contact-list,
.header-navigation,
.flex {
    display: flex;
    align-items: center;
}

.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
    padding-top: 25px;
    padding-bottom: 25px;
}

.flex {
    justify-content: space-between;
}

.navigation-item:not(:last-child),
.contact-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-item,
.contact-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mail-icon, 
.tel-icon {
fill: currentColor;
margin-right: 10px;
}

.navigation-item>.link,
.contact-item>.link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item>.link:hover,
.navigation-item>.link:focus,
.navigation-item.current,
.contact-item>.link:hover,
.contact-item>.link:focus {
    color: var(--attention-color);
}

.navigation-item {
    color: var(--title-color);
}

/* styling hero */

.section.hero {
    background-color: var(--attention-background);
    background-image: 
        linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
        url(../images/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    letter-spacing: 0.06em;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.container.hero {
max-width: 696px;
text-align: center;
}

.section-title.hero {
    color: var(--basic-background);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.button.hero {
    color: var(--basic-background);
    background-color: var(--attention-color);
    font-weight: 700;
    line-height: 1.87;
    padding: 10px 32px;
    border-radius: 4px;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.hero:hover,
.button.hero:focus {
    color: var(--attention-color);
    background-color: var(--basic-background);
}

/* styling section-principle */

.principles-list {
    display: flex;
}

.principle-item:not(:last-child) {
    margin-right: 30px;
}

.principle-icon-container {
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--second-background);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principle-title {
    color: var(--title-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.principle-text {
    font-size: 14px;
    line-height: 1.71;
}

/* styling section-specialization */

.section.specialization {
    padding-top: 0;
}

.specialization-list {
    display: flex;
}

.specialization-item:not(:last-child) {
    margin-right: 30px;
}

/* styling section-staff */

.section.staff {
    background-color: var(--second-background);
}

.staff-list {
    display: flex;
}

.staff-item:not(:last-child) {
    margin-right: 30px;
}

.staff-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;    
}

.img-staff {
    display: block;
}

.staff-container {
    background-color: var(--basic-background);
    border-radius: inherit;
    padding: 30px 32px;
    text-align: center;
    line-height: 1.19; 
}

.staff-name {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.staff-position {
    margin-bottom: 16px;
}

.social-link {
    width: 44px;
    height: 44px;
    color: var(--svg-color);
    background-color: inherit;
    border-radius: 50%;
    display: flex;
    justify-content: center;   
    align-items: center;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    color: var(--basic-background);
    background-color: var(--attention-color);
}

.social-icon {
    fill: currentColor;
}


/* styling our clients */

.client-list {
    display: flex;
}

.client-link {
    width: 170px;
    height: 92px;
    display: flex;
    border-width: 1px;
    border-radius: 4px;
    color: var(--svg-color);
    border-color: var(--svg-color);
    border-style: solid;
    align-items: center;
    justify-content: center;
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-icon {
    fill: currentColor;  
}

.client-link:hover,
.client-link:focus {
    color: var(--attention-color);
    border-color: var(--attention-color);
}

/* styling footer */

.footer {
    background-color: var(--attention-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    color: var(--basic-background);
    margin-right: 0;
    margin-bottom: 20px;
    display: block;
}

.address-item {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    
}

.map {
    color: var(--basic-background);
}

.address-item:not(:last-child) {
    margin-bottom: 10px;
}

.address-item>.link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item>.link:hover,
.address-item>.link:focus {
    color: var(--attention-color);
}

.social-title {
    color: var(--basic-background);
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.icon-list {
    display: flex;
}

.icon-item:not(:last-child) {
    margin-right: 10px;
}

.footer>.container {
    display: flex;
}

.address-container {
    margin-right: 70px;
}

.social-container {
    padding-top: 12px;
}

.footer .social-link {
    color: var(--basic-background);
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link:hover,
.footer .social-link:focus {
    background-color: var(--attention-color);
}

/* styling portfolio */

.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-item:not(:last-child) {
    margin-right: 8px;
}

.button-portfolio {
    color: var(--title-color);
    background-color: var(--second-background);
    font-weight: 500;
    line-height: 1.63;
    padding: 6px 22px;
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--basic-background);
    background-color: var(--attention-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.work-item {
    margin: 15px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-item:hover,
.work-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container-border {
    padding: 20px 24px;
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    padding-bottom: 20px;
    border-top-width: 0;
}

.img-work {
    display: block;
}

.work-title {
    color: var(--title-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
}

.work-text {
    line-height: 1.87;
}
